#root {
    max-width: 1920px;
}

.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pokemon-card-container{
    margin: 10px;
}